@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-size: 14px;
}
body{
    font-family: 'Roboto', sans-serif;
    background: url(../pics/bg-body.jpg) no-repeat #16171b;
    background-size: cover;
}
#container{
    max-width: 800px;
    width: 95%;
    margin:100px auto;
}
#header{
    height: 360px;
    background:url(../pics/bg-header.jpg);
    position: relative;
}
#header>ul{
    background-color: rgba(200,0,0,.8);
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
}
#header>ul>li{
    float: left;
}
#header>ul>li>a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
}
#header ul li a:hover{
    background-color: #16171b;
}

#header ul::after{
    content:'';
    clear: both;
    display: table;
}
.submenu{
    position: absolute;
    background-color: rgb(200,0,0);
    width: 180px;
    display: none;
}
.submenu a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}
#header .has-submenu{
    position: relative;
}
#header .has-submenu:hover .submenu{
    display: block;
}
#header .has-submenu::after{
    content: '🢓';
    color: white;
    position: absolute;
    top: 24px;
    right: 10px;
}
#header .has-submenu>a{
    padding-right: 35px;
}